<div class="modal-header">
    <h3 class="modal-title">Form Settings</h3>
</div>
<div class="modal-body">
    <form class="form-settings">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class='control-label'>Required Indicator</label>
                    <input type='text' ng-model="config.requiredIndicator" validator="[required]" class='form-control'/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class='control-label'>Required Label Color</label>
                    <color-picker ng-model="config.requiredLabelColor" color-picker-format="'hex'" color-picker-pos="'bottom left'" color-picker-swatch-pos="'left'"></color-picker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class='control-label'>Optional Indicator</label>
                    <input type='text' ng-model="config.optionalIndicator" validator="[required]" class='form-control'/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class='control-label'>Optional Label Color</label>
                    <color-picker ng-model="config.optionalLabelColor" color-picker-format="'hex'" color-picker-pos="'bottom left'" color-picker-swatch-pos="'left'"></color-picker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class='control-label'>Label Position</label>
            <select ng-model="config.labelPosition" class="form-control">
                <option value="above">Above</option>
                <option value="left">Left</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class='control-label'>Form Background Color</label>
                    <color-picker ng-model="config.formBackgroundColor" color-picker-format="'hex'" color-picker-pos="'bottom left'" color-picker-swatch-pos="'left'"></color-picker>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class='control-label'>Field Background Color</label>
                    <color-picker ng-model="config.fieldBackgroundColor" color-picker-format="'hex'" color-picker-pos="'bottom left'" color-picker-swatch-pos="'left'"></color-picker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class='control-label'>Success Message</label>
            <input type='text' ng-model="config.successMessage" validator="[required]" class='form-control'/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
